
// Primary Colors
$primary: rgba(220, 20, 20, 1);
$secondary: rgba(40, 40, 40, 1);
$highlight-hover: rgba(255, 0, 0, 0.3);
$highlight-active: rgba(255, 0, 0, 0.1);

// Primary Text
$text-headers: rgba(255, 255, 255, 1);
$text-location: rgba(255, 255, 255, 0.8);

// Location Information
$location-separator: rgba(255, 255, 255, 0.24);

// Mission Pane
$text-mission-title: rgba(255, 255, 255, 0.8);
$text-mission-status: rgba(255, 255, 255, 0.87);
$mission-start: rgba(200, 200, 200, 1);
$mission-partial: rgba(220, 50, 50, 1);
$mission-success: rgba(50, 180, 50, 1);
$mission-failure: rgba(220, 20, 20, 1);

// Pilot Roster Text
$text-pilot-header: rgba(255, 255, 255, 0.67);
$text-pilot-value: rgba(255, 255, 255, 0.87);
$text-pilot-code: rgba(255, 255, 255, 0.47);

// Markdown (Current Assignment, Events Log, Pilot Biography)
$text-markdown-p: rgba(255, 255, 255, 0.67);
$text-markdown-h1: rgba(255, 255, 255, 0.87);
$text-markdown-h2: rgba(255, 255, 255, 0.87);

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&family=Big+Shoulders+Display:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
